<!DOCTYPE html>
{% extends "test_app/base.html" %}
 {% block body_block %}

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn" style="margin-top: 30px;">
      <div class="container">
        <header class="section-header">
          <h3>Choose your workplace</h3>
          <p>Know more about the place you work at</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
               
              <div class="card-body">
                <h5 class="card-title" style="font-size: 50px" >TCS</h5>
               
                <a href="#" class="readmore">Visit </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                
              <div class="card-body">
                <h5 class="card-title" style="font-size: 50px;">Dell</h5>
                
                <a href="/next1"  class="readmore">Visit </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                
              <div class="card-body">
                <h5 class="card-title" style="font-size: 50px;">Infosys</h5>
               
                <a href="#" class="readmore">Visit </a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    

    
      
        </main>

  {% endblock %}