<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <!-- Favicons -->
  <link href='{% static "img/favicon.png"%}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png"%}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href='{% static "css/templatemo-style.css" %}' rel="stylesheet" />

  <!-- Bootstrap CSS File -->
  <link href='{% static "lib/bootstrap/css/bootstrap.min.css"%}' rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/ionicons/css/ionicons.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/lightbox/css/lightbox.min.css" %}' rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">

  <meta charset="utf-8">
  <title>Coding Guidlines Back End</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Clean responsive bootstrap website template">
  <meta name="author" content="">
  <!-- styles -->
  <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">
  <link href='{% static "css/bootstrap-responsive.css" %}' rel="stylesheet">
  <link href='{% static "css/docs.css" %}' rel="stylesheet">
  <link href='{% static "css/prettyPhoto.css" %}' rel="stylesheet">
  <link href='{% static "js/google-code-prettify/prettify.css" %}' rel="stylesheet">
  <link href='{% static "css/flexslider.css" %}' rel="stylesheet">
  <link href='{% static "css/refineslide.css" %}' rel="stylesheet">
  <link href='{% static "css/font-awesome.css" %}' rel="stylesheet">
  <link href='{% static "css/animate.css" %}' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

  <link href='{% static "css/style1.css" %}' rel="stylesheet">
  <link href='{% static "color/default.css" %}' rel="stylesheet">

  
  <link rel="shortcut icon" href='{% static " /ico/favicon.ico" %}'>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href='{% static "ico/apple-touch-icon-144-precomposed.png" %}'>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href='{% static "ico/apple-touch-icon-114-precomposed.png" %}'>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href='{% static "ico/apple-touch-icon-72-precomposed.png" %}'>
  <link rel="apple-touch-icon-precomposed" href='{% static "ico/apple-touch-icon-57-precomposed.png" %}'>

</head>

<body>
    <header id="header" class="fixed-top" style="border-style: inset;">
        <div class="container">
    
          <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
            <a href="/" class="scrollto"><img src='{% static "img/logo1.jpg" %}' ></a>
          </div>
          <nav class="main-nav float-right d-none d-lg-block">
            <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/#testimonials">Team</a></li>
              <li class="drop-down"><a href="">Quick Links</a>
                <ul>
                    <li><a href="/meeting/meet">Meeting</a></li>
                    <li><a href="/meeting/ven">Ongoing Ventures</a></li>
                    <li><a href="/re/sport">Events</a></li>
                    <li><a href="/re/cafe">Cafeteria</a></li>
                </ul>
              </li>
              <li><a href="/#contact">Contact Us</a></li>
              {% if logged %}
              <li><a href="/logout">Sign Out</a></li>
              {%  else  %}
              <li><a href="/home/user_login">Login</a></li>
              {% endif %}
            </ul>
            
          </nav><!-- .main-nav -->
    
          
        </div>
      </header><!-- #header -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  <section id="intro">
<div class="container jumbotron">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><strong>Coding Conventions</h2>
          <p class="lead">
            Coding conventions are a set of guidelines for a specific programming language that recommend programming style, practices, and methods for each aspect of a program written in that language. 
          </p>

        </div>
        <div class="span6">

          <div class="group section-wrap upper" id="upper">
            <div class="section-2 group">
              <ul id="images" class="rs-slider">
                <li class="group">
                  <a href="#">
                    <img src='{% static "img/new1.jpg" %}' alt="" />
                </a>
                </li>
              </ul>
            </div>
           
          </div>

        </div>
      </div>
    </div>

  </section>
  <section id="maincontent">
    <div class="container">
      
              
        <div class="row">
        
          <div class="features">
    
            <div class="features_content">
              <h3>Important Terms</h3>
              <p >
                This document occasionally makes a distinction between library code and project code. Library code is closed or open source libraries that are meant to be reusable components across many projects. Project code is code written for a single specific project.
              </p>
              
            
          </div>
        </div>
      </div>

      <div class="row">
       
          <div class="features">
    
            <div class="features_content">
              <h3>Environment</h3>
             <ul>
               <li>Amazon EC2 w/EBS or DigitalOcean</li>
               <li>Debian 8 (Jessie)</li>
               <li>Apache 2.4+</li>
               <li>PHP 7.1+</li>
               <li>PostgreSQL 9.3+</li>
             </ul>
              
            </div>
          </div>
        </div>
      
         <div class="row">
        
          <div class="features">
    
            <div class="features_content">
              <h3>Security</h3>
              <p>
              All Engineers must understand and implement the best practices around:
            </p>
              <ul>
               <li>HTTP Methods</li>
               <li>SSL (HTTPS) Usage</li>
               <li>SQL Injection</li>
               <li>Cross-Site Scripting (XSS)</li>
               <li>Cross-Site Request Forgeries (CSRF)</li>
               <li>Password Hashing</li>
               <li>Session Fixation</li>
               <li>Email Injection</li>
             </ul>
            
          </div>
        </div>
      </div>
       <div class="row">
        
          <div class="features">
    
            <div class="features_content">
              <h3>Third-Party Code</h3>
              <p >
               Any Third-Party Code, being framework or library dependencies for any given project, shall only be used or included if it meets the one of the following conditions:
              </p>
               <ul>
               <li>It has been licensed under the MIT License, BSD License, or Apache 2.0 License.</li>
               <li>It has been licensed under a separate agreement approved by an officer of Imarc or Imarc’s Director of Engineering.</li>
            </ul>
          </div>
        </div>
      </div>
       <div class="row">
        
          <div class="features">
    
            <div class="features_content">
              <h3>Versioning and Tagging</h3>
              <p >
                Library code versions should be tagged appropriately in Git to work seamlessly with Composer. Depending on the requirements, project code can be versioned by release, or not at all.
              </p>
              
            
          </div>
        </div>
      </div>
      <div class="row">
        
          <div class="features">
    
            <div class="features_content">
              <h3>Error Handling</h3>
              <p >
                Production and staging environments are generally configured to email error messages, while development environments typically display error messages on screen as HTML.
              </p>
              <p>
                When error messages are emailed, always address a production team, not an individual developer, in case that developer is not available. 
              </p>
              
            
          </div>
        </div>
      </div>
      <div class="row">
        
          <div class="features">
    
            <div class="features_content">
              <h3>Character Encoding</h3>
              <p >
                UTF-8 should be used as the character encoding for all aspects of a web applicaiton.
              </p>
              <p>
                UTF-8 is one of the most robust and widely-supported character encodings, which means that all parts of a site can share content without converting between encodings.
              </p>
              
            
          </div>
        </div>
      </div>
</div>

      <div class="row">
        <div class="span12">
          <div class="blank10"></div>
        </div>
      </div>
    </div>
      
  <script src='{% static "js/jquery.js" %}'></script>
  <script src='{% static "js/modernizr.js" %}'></script>
  <script src='{% static "js/jquery.easing.1.3.js" %}'></script>
  <script src='{% static "js/google-code-prettify/prettify.js" %}'></script>
  <script src='{% static "js/bootstrap.js" %}'></script>
  <script src='{% static "js/jquery.prettyPhoto.js" %}'></script>
  <script src='{% static "js/portfolio/jquery.quicksand.js" %}'></script>
  <script src='{% static "js/portfolio/setting.js" %}'></script>
  <script src='{% static "js/hover/jquery-hover-effect.js" %}'></script>
  <script src='{% static "js/jquery.flexslider.js" %}'></script>
  <script src='{% static "js/classie.js" %}'></script>
  <script src='{% static "js/cbpAnimatedHeader.min.js" %}'></script>
  <script src='{% static "js/jquery.refineslide.js" %}'></script>
  <script src='{% static "js/jquery.ui.totop.js" %}'></script>

  <script src='{% static "js/custom.js" %}'></script>
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6 footer-info">
              <h3>Tech Nerds</h3>
              <p>We aspire to help you to fit into your workplace and make life easier for you!!!</div>
  
            <!-- <div class="col-lg-2 col-md-6 footer-links"> 
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Home</a></li>        
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>-->
  
            <div class="col-lg-3 col-md-6 footer-contact" style="margin-left: 50px;">
              <h4>Contact Us</h4>
              <p>
                IIIT Bhubaneswar <br>
                Gothapatna , Malipada , 751003<br>
                India<br>
                <strong>Phone:</strong> +91-8984661338<br>
                <strong>Email:</strong> b317032@iiit-bh.ac.in<br>
              </p>
            </div>
  
            <div class="col-lg-4 col-md-6 footer-sponser" style="margin-left: 45px;">
              <h1>Powered By</h1>
              <img src='{% static "img/IIIT.jpg" %}' style="width: 250px ; height: 150px;" >
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Tech - Nerds</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
          -->
          Designed by <br> Tech - Nerds</br>
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
  
    <!-- JavaScript Libraries -->
    <script src='{% static "lib/jquery/jquery.min.js" %}'></script>
    <script src='{% static "lib/jquery/jquery-migrate.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "lib/easing/easing.min.js" %}'></script>
    <script src='{% static "lib/mobile-nav/mobile-nav.js" %}'></script>
    <script src='{% static "lib/wow/wow.min.js" %}'></script>
    <script src='{% static "lib/waypoints/waypoints.min.js" %}'></script>
    <script src='{% static "lib/counterup/counterup.min.js" %}'></script>
    <script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
    <script src='{% static "lib/isotope/isotope.pkgd.min.js" %}'></script>
    <script src='{% static "lib/lightbox/js/lightbox.min.js" %}'></script>
    <!-- Contact Form JavaScript File -->
    <script src='{% static "contactform/contactform.js" %}'></script>
  
    <!-- Template Main Javascript File -->
    <script src='{% static "js/main.js" %}'></script>
  
  

</body>

</html>
