<!DOCTYPE html>
{% extends "test1/base.html" %}
{% load staticfiles %}
{% block body_block %}



    <section id="team" >
      <div class="container">
        <div class="section-header">
          <h3 style="text-align: center;"><strong>DELL BHUBANESWAR </strong></h3>
          <h2 style="text-align: center;">What is Happening at Dell today !!! </h2>
        </div>
        <center>
        <div class="row align-items-center">

          <div class="col-lg-3 col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">

              <img src='{% static "img/teammeet.jpg" %}' class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <a href="" style="color: aliceblue;">Click me to know more</a>
                  
                  
                </div>
              
              </div>
            </div>
            <h2><strong>
              What are we working At</strong></h2>
          </div>

          <div class="col-lg-3 col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src='{% static "img/recret.jpg" %}' class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <a href=""style="color: aliceblue">Click me to know more</a>
                  
                 
                </div>
              </div>
            </div>
            <h2><strong>Recreational Activities</strong></h2>
          </div>
        </center>
        </div>
        <button type="button" class="btn btn-success btn-lg btn-block">What's New</button>
      </div>
     
    </section><!-- #team -->

    {% endblock %}  